@keyframes deletingAnimation {
  0% {
    background: linear-gradient(
      45deg,
      transparent 0%,
      rgba(219, 119, 31, 0.3) 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  100% {
    background: linear-gradient(
      45deg,
      transparent 0%,
      rgba(200, 177, 150, 0.3) 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    background-position: -100% 0;
  }
}

.deleting-animation {
  animation: deletingAnimation 2s linear infinite;
}

@keyframes createdAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.created-animation {
  animation: createdAnimation 1s linear;
}

@keyframes confirmedAnimation {
  0%,
  100% {
    border-color: transparent;
    background-color: transparent;
  }
  50% {
    border-color: rgba(34, 139, 34, 1); /* ForestGreen */
    background-color: rgba(34, 139, 34, 0.3); /* Shallow green */
  }
}

.confirmed-animation {
  animation: confirmedAnimation 1s ease-in-out;
}
