@keyframes fadeBackground {
  0% {
    background: linear-gradient(
      45deg,
      transparent 0%,
      rgba(150, 200, 150, 0.3) 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  100% {
    background: linear-gradient(
      45deg,
      transparent 0%,
      rgba(150, 200, 150, 0.3) 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    background-position: -100% 0;
  }
}

.fade-animation {
  animation: fadeBackground 2s linear;
}

@keyframes modifiedBackground {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.modified-animation {
  animation: modifiedBackground 2s linear;
}
